@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.nunito {
  font-family: 'nunito', font-sans;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

hover\:border-none:hover {
  border-style: none;
}

/* #sidebar {
  transition: ease-in-out all 0.3s;
  z-index: 9999;
  width: 200px;
} */

#sidebar span {
  opacity: 0;
  /* position: absolute; */
  transition: ease-in-out all 0.1s;

  /* opacity: 1; */
}

/* #sidebar:hover {
  width: 200px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
} */

#sidebar:hover span {
  opacity: 1;
}

.sidebar {
  transition: ease-in-out all 0.3s;
  z-index: 9999;
  /* width: 200px; */
}

.sidebar-expand {
  /* transition: ease-in-out all 0.3s; */
  width: 200px !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply md:text-6xl text-3xl;
}

h2 {
  @apply md:text-3xl text-xl font-semibold;
}

p {
  @apply lg:text-base text-sm;
}

.x-padding {
  @apply xl:px-32 lg:px-20 md:px-10 px-2;
}
