@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-3xl font-semibold;
}

.x-padding {
  @apply xl:px-32 lg:px-20 md:px-10 px-2;
}
